<div class="container">

  <div class="row">

    <div class="col-sm-10">

      <table class="table">
        <tr >
          <th> Foto </th>
          <th> Nombre </th>
          <th> Bio </th>
          <th> Fecha de nacimiento </th>
          <th>  Lugar de nacimiento </th>
          <th> Fecha de Fallecimiento </th>
          <th> Lugar De Fallecimiento </th>

        </tr>
        <% @actors.each do |actor| %>
          <tr>
            <td > <img src=<%= actor.image_url %> > </td>
            <td> <strong> <%= actor.name %> </strong> </td>
            <td> <%= actor.bio %> </td>
            <td> <%= actor.birth_date %> </td>
            <td> <%= actor.birth_place %> </td>
            <td> <%= actor.death_date %> </td>
            <td> <%= actor.death_place %>  </td>
          </tr>

        <% end %>
      </table>


    </div>

  </div>

</div>